.logo{
	background-color: red;
	min-height: 100px;

}


.row1{
	
	
	overflow: hidden;
	
	
}
.row2{
	

	
	overflow: hidden;
}
.row3{
	
	

	overflow: hidden;
}
.row4{
	

	
	overflow: hidden;
}

.smallbox1{

	background-color: white;

	float: left;
	min-height: 200px;
	width: 25%;
	
}
.smallbox2{

	background-color: green;
	
	float: left;
	min-height: 200px;
	width: 25%;
	
}
.wrapper{

	overflow: hidden;
}

.box1{
	background-color: black;
	
	float: left;
	min-height: 800px;
	width: 33%;
	border: 1px solid white;
	float: left;
}
.footer{
	background-color: purple;
	min-height: 80px;
	clear:both;
}
